@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
}


/* PAGE 1 */
.page-1 {
    background-image: url('bg-img-1.jpg');
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;

}

.navbar {
    background-color: #00000080;
    color: #FFFFFF;
    height: 90px;
}

.left-navbar {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    gap: 150px;
}

.right-navbar {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    gap: 32px;
}

.logo {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.navbar-menu {
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    gap: 32px;
}

.body-content {
    color: #FFFFFF;
    margin-top: 200px;
}

.btn-content {
    background-color: rgba(255, 181, 72, 1);
    width: 260px;
    height: 60px;
    border-radius: 4px;
    margin-top: 57.28px;
    margin-bottom: 300px;
}

.body-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    font-style: normal;
}

.body-content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    margin-top: 57.28px;
}

.scroll p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}


/* PAGE 2 */
.page-2 {
    background-image: url('bg-img-2.jpg');
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
}

.content-desc {
    font-family: 'Arial';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.content-img {
    margin-top: 292.4px;
    gap: 10px;
}

.dot {
    gap: 50px;
    margin-top: 830px;
    margin-left: 738PX;
}


/* PAGE 3 */
.page-3 {
    background-image: url('bg-img-3.jpg');
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
}

.content-page-3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    margin-top: 175px;
    margin-left: 300px;
}

.content-page-3 h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.content-page-3 h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.content-list ul li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.content-list ul p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 362.52px;
}


/* Page 4 */
.page-4 {
    background-image: url('bg-img-4.jpg');
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;
}

.content-question p {
    height: 90px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 145px;
}

.content-4 {
    margin-left: 121.77px;
}

.content-4 .system-requirement {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.table-content table tr td {
    border: 1px solid rgba(151, 151, 151, 1);
    width: 280px;
    height: 100px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 14px;
    padding-bottom: 31px;
}

.table-content table tr td h3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFB548;
}

.table-content table tr td p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


/* Page 5 */
.page-5 {
    background-image: url('bg-img-5.jpg');
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;
}

.left-content {
    margin-left: 118.97px;
}

.left-content h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    color: #FFFFFF;
    margin-top: 340.06px;
}

.left-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    width: 379px;
    height: 57px;
}

.left-content button {
    width: 260.36px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(255, 181, 72, 1);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1A1917;
    margin-top: 40px;
}

.card-page-5 {
    width: 452.59px;
    height: 182px;
    border-radius: 10px;
}


/* Page 6 */
.page-6 {
    background-image: url('bg-img-6.jpg');
    background-size: cover;
    width: 100vw;
    height: 960px;
    max-width: 1440px;
    margin-inline: auto;
}

.right-page-6 h3 {
    width: 261.56px;
    height: 27.49px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
}

.right-page-6 h1 {
    width: 677.24px;
    height: 76.28px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
}

.right-page-6 p {
    width: 644.96px;
    height: 136.57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.right-page-6 input {
    width: 366.92px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.right-page-6 label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
}

.right-page-6 .btn-page-6 {
    width: 260px;
    height: 60.25px;
    background-color: rgba(255, 181, 72, 1);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.right-page-6 .register {
    gap: 17.22px;
}

.footer .footer-menu {
    gap: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.ending {
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 20px;
}

.ending .left-ending {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.ending .right-ending {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}






